  <table width='100%'>
    <tr>
      <td align='center'>
        <ul class='exit'>
          <li><%= link_to 'Go Back', game_path %></li>
        </ul>
      </td>
    </tr>
  </table>
  <p>
    <font style='color: rgb(200, 0, 0); font-weight: bold'>Game rules:</font><br>
    <ul class='game_rules'>
      <li>Player wins if he accumulates 30,000 money;</li>
      <li>Player losses if his happiens becomes less than 10;</li>
      <li>Player loses 1 point happiens if mana equal 0;</li>
      <li>Player loses 1 point happiens if fatigue equal 100;</li>
      <li>Player's mana can vary between 0 and 100;</li>
      <li>Player's happiens can vary between -10 and 10;</li>
      <li>Player's fatigue can vary between 0 and 100;</li>
      <li>The player cannot have money less than 0.</li>
    </ul>
  </p>
  <p>
    <font style='color: rgb(200, 0, 0); font-weight: bold'>Possible Actions:</font><br>
    <ul class='game_rules'>
      <li>Go Job (if mana <= 60)
        <ul class='input_list'>
          <li>-30 Mana</li>
          <li>+1250 Money</li>
          <li>+30 fatigue</li>
        </ul>
      </li>
      <li>Rest
        <ul class='input_list'>
          <li>-10 Mana</li>
          <li>-30 fatigue</li>
        </ul>
      </li>
      <li>Watch Serial
        <ul class='input_list'>
          <li>-10 Mana</li>
          <li>+1 Happiens</li>
          <li>-15 fatigue</li>
        </ul>
      </li>
      <li>Drink With Marginals (if Money >= 1500)
        <ul class='input_list'>
          <li>+50 Mana</li>
          <li>-1500 Money</li>
          <li>+2 Happiens</li>
          <li>-30 Fatigue</li>
        </ul>
      </li>
      <li>Sing
        <ul class='input_list'>
          <li>+1 Happiens</li>
          <li>+50~450 Money (if Mana >= 40)</li>
          <li>+10 Fatigue</li>
        </ul>
      </li>
      <li>Sleep
        <ul class='input_list'>
          <li>-50 Mana</li>
          <li>-70 Fatigue</li>
        </ul>
      </li>
    </ul>
  </p>
  <table width='100%'>
    <tr>
      <td align='center'>
        <ul class='exit'>
          <li><%= link_to 'Go Back', game_path %></li>
        </ul>
      </td>
    </tr>
  </table>
